.action-td {
  text-align: center;
  i {
    margin: 0 12px;
    cursor: pointer;
  }
}

.add-btn-div {
  float: right;
  margin-top: -52px;
}

.data-table-div {
  margin-top: 50px;
}

.big-btn-div {
  margin-left: 2px;

  button {
    width: 98.5%;
  }
}

.delete-id {
  display: none;
}

.input-error {
  color: #ff0000;
  text-align: left;
  width: 100%;
  margin-top: -11px;
  margin-left: 5px;
}

#preview_image {
  width: 150px;
  height: 150px;
  margin: 10px 0;
  border: 1px solid #f2f2f2;
}

#DisplayImage {
  width: 35%;
  height: auto;
}
.td_image {
  width: 25%;
}
#MailId {
  margin-left: 350px;
}

.checkbox_div {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;

  h3 {
    color: black;
  }

  .input-div {
    input {
      margin-right: 10px;
    }
  }
}

// yahya 21-01-2021

// header menus section css
.head_menus {
  .image_box {
    border-radius: 7px;
    background-color: white;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;

    img {
      width: 43px;
      height: auto;
    }
  }
}

// welcome User name css
.user_welcome {
  background-color: #344a69;
  text-align: center;
  padding: 40px;
  margin-top: 1rem;

  h1 {
    color: #fff;
  }
}

// ticket cards css
.all_ticket_cards {
  .ticket_card {
    text-align: center;
    text-transform: capitalize;
    background-color: #515be0;
    color: white;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 32%;
    max-width: 32%;
  }
}

// tickets review cards css
.ticket_review_cards {
  .last_open_ticket_card {
    background-color: white;
    margin-top: 2rem;
    padding: 1rem;
    color: #5a6868;

    .fa-folder-open {
      color: #ff641a;
    }

    .view_all_btn a {
      border: 1px solid #515be0;
      padding: 5px;
      border-radius: 3px;
    }

    .opened_btn a {
      background-color: #515be0;
      color: white;
      padding: 4px 10px;
      border-radius: 51px;
      line-height: 1;
      height: fit-content;
    }
  }

  .last_open_ticket_card_ticket_id {
    font-size: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    p {
      margin: 0;
      padding-left: 1rem;
      color: "white";
    }
  }
}
